
// mise en place des différentes couleurs
$white: #FFF;
$black: #000;
$grey: #E7E7E7;
$brown: #C7BEBE;
$blue: #3282F7;
$green: #68D9A4;
$orange: #ED6454;
$orange-outline:#99372c;


// mise en place des variables des différentes taille d'écran
$mobile: 425px;
$tablet: 768px;
$desktop: 992px;
// border-radius
$borderRadius: 5px;